/* Stiluri pentru efectul de reflexie text */
#zona1 h2 {
  position: relative;
  display: inline-block; /* Pentru a limita dimensiunea zonei */
  color: #2D2547; /* Culoarea textului original */
  margin-bottom: 40px; /* Spațiu pentru reflexie */
}

#zona1 h2::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 100%; /* Poziționează reflexia direct sub text */
  width: 100%;
  transform: scaleY(-1); /* Întoarce textul pentru efect de reflexie */
  transform-origin: top; /* Punctul de origine pentru transformare */
  opacity: 0.5;
  filter: blur(2px);
  color: rgba(45, 37, 71, 0.5); /* Culoarea textului cu transparență */
  transition: all 0.5s ease-in-out;
}

#zona1 h2:hover::after {
  transform: scaleY(-1) translateY(20px); /* Alungește reflexia în jos la hover */
  filter: blur(3px);
  opacity: 0.4; /* Ușor mai transparent la hover */
}