<header id="header">
    <h1><b>Theia Vault</b></h1>
    <nav>
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li><a href="/" class="home-icon"><i class="fa fa-home"></i><span>Acasă</span></a>
                <ul>
                    <li><a href="/#zona1">Despre Bijuterii</a></li>
                    <li><a href="/#zona2">Despre Noi</a></li>
                    <li><a href="/#zona3">Evenimente</a></li>
                </ul>
            </li>
            <li><a href="#">Produse</a>
                <ul>
                    <li><a href="/colectii.html">Colecții</a></li>
                    <li><a href="/noutati.html">Noutăți</a></li>
                    <li><a href="/bestsellers.html">Bestsellers</a></li>
                </ul>
            </li>
            <li><a href="#">Galerii</a>
                <ul>
                    <li><a href="/galerie-statica">Galerie Statică</a></li>
                    <li><a href="/galerie-dinamica">Galerie Dinamică</a></li>
                    <li><a href="/galerie-video">Galerie Video</a></li>
                    <li><a href="/bootstrap">Demo Bootstrap</a></li>
                </ul>
            </li>
            
            <li><a href="/contact">Contact</a></li>
            <li><a href="/despre">Despre Noi</a></li>
        </ul>
    </nav>
</header> 